html, body {
    width: 100%;
    margin: 0 auto;
    /* background-color: #a6c6e3; */
    background-color:#182240;
    /* padding: 0 20px 20px 20px; */
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }

p {
    color: #3260a8;
    text-align: center;
}
 
.block{
    position:absolute;
    animation:barrage 5s linear 0s;
 }

.Chinese {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 7vw;
}

.English {
    font-family: 'Homemade Apple', cursive;
    font-size: 5vw;
}

.Footnote {
    font-size: 2vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#Wishes {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 4vw;
    color:gold;
}
.Click {
    font-size: 3vw;
    text-align: center;
    color: white;
}
#fireworks-canvas, #others, #canvas{
    position:absolute; top:0; left:0; right:0; 
}
#fireworks-canvas{
    z-index: 0;
}
#others {
    z-index: 1;
    text-align: center;
    margin:0 auto;
}
#canvas{
    z-index:2;
    margin: 0 auto;
}

#play-pause-button{
    font-size: 50px;
    cursor: pointer;
  }

#button {
    width: 50px;
    height: 50px;
    filter: invert(1);
    padding: 0;
    margin-top:0px;
}
.wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
    "a b c"
    "d e f"
    "h i j";
  }
.wrapper > div img{
    display: flex;
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
}