body {
    width: 100%;
    margin: 0 auto;
    background-color: #a6c6e3;
    /* padding: 0 20px 20px 20px; */
    text-align: center;
  }

p {
    color: #3260a8;
    text-align: center;
}

 .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 60px;
  }
 
.block{
    position:absolute;
    animation:barrage 5s linear 0s;
 }

.Chinese {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 60px;
}

.English {
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
}

.Footnote {
    font-size: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#Wishes {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 40px;
    color:gold;
}
.Click {
    font-size: 30px;
}